<div class="container workshop-edit-container">
    <h1>Editing "<%=@workshop.name%>"</h1>

    <div class="row">
        <%= render 'form', workshop: @workshop %>
    </div>

    <% if @workshop.id != nil %>

    <div class="row">
         <h3>Image Uploader</h3>
    </div>

    <div class="row">
        <%= render 'image_form', image: @image %>
    </div>

    <% end %>
    <div class="row">
        <div class="workshop-back-btn">
            <%= link_to 'Back', admin_path %>
        </div>
    </div>
</div>
<br>