

<div class="container workshop-index-container">
  <div class="jumbotron workshops-index-picture">
    <div class="workshops-title">
      <i class="fas fa-shapes"></i>
      <h3>Workshops</h3>
    </diV>
  </div>
  <div class="row workshop-schedule-row">
    <div class="workshop-schedule-container">
      <img src="<%= @index_post_image.image%>" alt="main workshop image"/>
    </div>
  </div>
  <div class="row workshop-index-description-row">
    <h5>Important Information</h5>
    <div class="col-md-10 offset-md-1 description-column">
      <%=raw(@index_post.description) %>
    </div>
  </div>

  <div class="row workshop-card-row">
    <div class="col-md-4">

      <div class="card">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

    </div>

     <div class="col-md-4">

      <div class="card">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

    </div>

     <div class="col-md-4">

      <div class="card">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

    </div>
  </div>

</div>
<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>