<div class="container">
  <h1 class="text-center">Editing <%=@topic.name%> Topic</h1>
     <%= render partial: 'form', locals: {topic: @topic} %>
  <div class="row text-center">
    <div class="col">
      <%= link_to "Back", url_for(:back) %>
    </div>
  </div>
</div>
