<div class="container topic-edit-container">
  <h1 class>Editing  "<%=@topic.name%>"</h1>

  <div class="row">
    <%= render partial: 'form', locals: {topic: @topic} %>
  </div>

  <% if @topic.id != nil %>
    <div class="row">
      <h5 class=>Image Uploader</h3>
    </div>
    <div class="row">
      <%= render 'image_form', image: @image %>
    </div>
  <% end %>

  <div class="row">
    <div class="topic-back-btn">
      <%= link_to "Back", url_for(:back) %>
    </div>
  </div>
</div>
<br>
