<section class="intro">
      <div class="inner draw">
        <div class="content">
          <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0s">
          <h2 class="title1">Українська</h2>
          </section>
          <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="1s">
          <h1 class="title2">Суботня Школа</h1>
          </section>
          <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="1.2s">
          <h5 class="title3">Відень</h5>
          </section>
          <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="2s">
            <a class="enter-btn" href="/index">ENTER</a>
          </section>
        </div>
      </div>
</section>