  
  <div id="frontCarousel" class="carousel slide" data-ride="carousel" ></div>
   <div id="frontCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="index-img-container" >
          <div class="img-desc">
            <p class="pic-main-title">Українська</p>
            <p class="pic-main-desc">Школа</p>
            <p class="pic-main-end">Відень</p>
          </div>
          <img class="d-block w-100 title-image" src="/assets/frontpage/1.jedyna.jpg" alt="First slide">
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 title-image" src="/assets/frontpage/2.jakisna.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 title-image" src="/assets/frontpage/3.cikavi-uroky-1.jpg" alt="Third slide">
      </div>
       <div class="carousel-item">
        <img class="d-block w-100 title0image" src="/assets/frontpage/nastya.jpg" alt="Fourth slide">
      </div>
    </div>
  </div>

<div class="row announcements">
   <div class="col-md-12 ">
     <h2>Announcements</h2>
     <p>Bloccit will deliver food and water to those in need, all over the world.</p>
   </div>
</div>
<div class='row'>
  <div class= "col-md-12">
    <p>Our Friends</p>
  </div>
</div>

 <div class="row">
   <div class="col-md-4 friend-column" id="friend-column1">
    <div>
      <i class="fa fa-calendar cal"></i> 
      <p>Class Schedule</p>
    </div>
   </div>
   <div class="col-md-4 friend-column" id="friend-column2">
     <p>Bloccit will deliver money and education to those in need, all over the world.</p>
   </div>
   <div class="col-md-4 friend-column" id="friend-column3">
     <h2>Makes you better looking</h2>
     <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
   </div>
 </div>
