 
  <div id="frontCarousel" class="carousel slide" data-ride="carousel" data-interval="5000"></div>
   <div id="frontCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="index-img-container" >
          <img class="d-block w-100" src="/assets/frontpage/1.jedyna.jpg" alt="First slide">
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/frontpage/2.jakisna.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/frontpage/3.cikavi-uroky-1.jpg" alt="Third slide">
      </div>
       <div class="carousel-item">
        <img class="d-block w-100" src="/assets/frontpage/nastya.jpg" alt="Fourth slide">
      </div>
    </div>
  </div>

<div class="row">
   <div class="col-md-6">
     <h2>Solves world hunger</h2>
     <p>Bloccit will deliver food and water to those in need, all over the world.</p>
   </div>
   <div class="col-md-6">
      <h2><%= "Bleeh" %></h2>
      <p>Bloccit will deliver money and education to those in need, all over the world.</p>
   </div>
 </div>
 <div class="row">
   <div class="col-md-4">
     <h2>Solves world hunger</h2>
     <p>Bloccit will deliver food and water to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h2>Eliminates poverty</h2>
     <p>Bloccit will deliver money and education to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h2>Makes you better looking</h2>
     <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
   </div>
 </div>
