<div class="container new-info-container">
    <h1 class="text-center">New School Info Page</h1>

    <%= render 'form', school_info: @school_info %>

    <%= link_to 'Back', school_infos_path %>
</div>
