<div class="container new-course-container">
    <h1>Editing Course</h1>

    <%= render 'form', course: @course %>

    <%= render 'image_form', course_image: @course_image %>


    <%= link_to 'Show', @course %> |
    <%= link_to 'Back', courses_path %>
</div>
