
  <div id="course-index-intro">
      <div class="bg-image bg-parallax overlay"></div>
      <div id="course-index-title">
        <h3>Our Courses</h3>
      </div>
  </div>
  <div id="courses" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">
        <div class="section-header mx-auto">
          <h2 class="text-center">Explore Courses</h2>
          <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
        </div>
      </div>
      <!-- /row -->

      <div class="row">
        <form action="/courses" method="get">
          <div class="form-group">
            <label for="grade">Select Grade</label>
            <select class="form-selector" id="sel1" name="grade">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>

          </div>
        </form>
      </div>


      <!-- courses -->
      <div id="courses-wrapper">

        <!-- row -->
        <div class="row">
          <% 6.times do  %>
          <!-- single course -->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="course">
              <a href="#" class="course-img">
                <img src="/assets/stock/workshop_stock_photo.jpg" alt="course image">
                <i class="course-link-icon fa fa-link"></i>
              </a>
              <a class="course-title" href="courses">Beginner to Pro in Excel: Financial Modeling and Valuation</a>
              <div class="course-details">
                <span class="course-category">Business</span>
                <span class="course-price course-free">Free</span>
              </div>
            </div>
          </div>
          <!-- /single course -->
          <% end %>
        </div>
      </div>
      <!-- /courses -->

      <div class="row">
        <div class="center-btn mx-auto">
          <a class="main-button icon-button" href="#">Home</a>
        </div>
      </div>

    </div>
    <!-- container -->

  </div>

  <footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>
<!-- /Courses -->

