<div class="container">
    <div class="row class-header">
    </div>
    <div class="row class-description">
    </div>
</div>
<div class="container class-gallery-container">
    <img src="#" alt="image" class="img-fluid">
    <img src="#" alt="image" class="img-fluid">
    <img src="#" alt="image" class="img-fluid">
    <img src="#" alt="image" class="img-fluid">

    <img src="#" alt="image" class="img-fluid">
    <img src="#" alt="image" class="img-fluid">
    <img src="#" alt="image" class="img-fluid">
    <img src="#" alt="image" class="img-fluid">

</div>



<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_course_path(@course.id) %> |
<%= link_to 'Back', courses_path %>
