<div class="container gallery-edit-container">
    <h1>Editing "<%=@gallery.title%>"</h1>

    <div class="row">
        <%= render 'form', gallery: @gallery %>
    </div>

    <% if @gallery.id != nil %>

    <div class="row">
         <h3>Image Uploader</h3>
    </div>

    <div class="row">
        <%= render 'image_form', image: @image %>
    </div>

    <% end %>
    <div class="row">
        <div class="gallery-back-btn">
            <%= link_to 'Back', galleries_path %>
        </div>
    </div>
</div>
<br>