//about#news

#blogs-index-intro {
	width: 100%;
    height: 400px;
    position: relative;
	#blogs-index-title {
		position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h3{
            color: white;
            font-size: 75px;
            font-family: Lobster;
            font-weight: bold;
			letter-spacing: 5px;
			text-decoration: underline;
		}
		
	}
	.bg-image {
        background-image: url("/assets/stock/workshop_stock_photo.jpg");
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-position:center;
        background-size:cover;
    }
    .bg-parallax {
        background-attachment:fixed;
    }
    .overlay:after {
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
        background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
        opacity: 0.7;
    }
}
#all-blogs {
	position:relative;
	padding-top:80px;
	padding-bottom:80px;
}


/* --- Background Image --- */
.bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-position:center;
	background-size:cover;
}

.bg-image.bg-parallax {
	background-attachment:fixed;
}

.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
	background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
	opacity: 0.7;
}

//blog display
.single-blog {
	display: flex;
	margin-bottom:40px;
	.blog-img{
		height: 100%;
		width: 40%;
		position: relative;
		display:inline-block;
		overflow:hidden;
		border: 0.5px solid rgb(96, 162, 206);
		border-radius: 4px;
	}
	a:hover:after {
		opacity:0.2;
	}
	
	.blog-info{
		margin-left: 5%;
		width: 60%;
		display: inline-block;
		h5 {
			font-family: Georgia, 'Times New Roman', Times, serif;
			font-weight: bold;
			letter-spacing: 1px;
		}
		h3 {
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			font-size: 18px;
		}
	}
}
.blog-img a::after {
	content:"";
	background: rgb(96, 162, 206);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}
.single-blog .blog-img img {
	width:100%;
}
.single-blog .blog-meta {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #EBEBEB;
}
.single-blog .blog-meta .blog-meta-author > a {
	color: #FF6700;
}
.single-blog .blog-meta .blog-meta-comments {
	margin-left:10px;
}

.single-blog .blog-meta .blog-meta-comments > a {
	color: #798696;
}





/* -- Pagination -- */
.post-pagination {
	margin-top:40px;
	text-align:center;
	.pages {
		display:inline-block;
		margin-top: 15px;
		
	}	
}

.post-pagination .pages li {
	display:inline-block;
}

.post-pagination .pages li + li {
	margin-left:10px;
}

.post-pagination .pages li {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #EBEBEB;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.post-pagination .pages li a {
	display:block;
	-webkit-transition: 0.2s color;
	transition: 0.2s color;
}

.post-pagination .pages li:hover  , .post-pagination .pages li.active {
	background-color:rgb(96, 162, 206);
	color:#FFF;
}

.post-pagination .pages li:hover a {
	color:#FFF;
} 

.pagination-back , .pagination-next {
	display: block;
	text-align: center;
	border-radius: 40px;
	background-color: #EBEBEB;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	height:40px;
	padding:0px 30px;
	line-height:40px;
}

.pagination-next:hover  , .pagination-back:hover  {
	color:#FFF;
	background-color:rgb(96, 162, 206);
}


/*------------------------------------*\
	Blog Page Sidebar
\*------------------------------------*/
.widget {
	h3 {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
}
.widget + .widget {
	margin-top:40px;
}

/*-- Search --*/
.widget.search-widget {
	position:relative
}

.widget.search-widget .input {
	padding-right:60px;
}

.widget.search-widget button {
	position:absolute;
	right:0;
	top:0;
	height:40px;
	width:40px;
	background-color:transparent;
	border:none;
}

.widget.search-widget .input:focus + button {
	color:#FF6700;
}

/*-- Category --*/
.category-widget .category {
	display:block;
	text-transform:uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

.category-widget .category + .category {
	border-top: 1px solid #EBEBEB;
}

.category-widget .category:before {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #FF6700;
	margin-right:10px;
}

.category-widget .category span {
	font-size:14px;
	margin-left:10px;
	color:#798696;
}

/*-- Sidebar Posts --*/
.single-post:after {
	content:"";
	display:block;
	clear:both;
}

.single-post + .single-post {
	margin-top:20px;
}

.single-post .single-post-img {
	position:relative;
	width: 80px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	border-radius: 4px;
	overflow: hidden;
}

.single-post .single-post-img img {
	width:100%;
}

.single-post-img:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:#FF6700;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.single-post-img:hover:after {
	opacity:0.7;
}

/*-- Tags --*/
.tags-widget .tag {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 0px;
	margin-top: 5px;
	padding: 5px 15px;
	border-radius: 40px;
	border: 1px solid #EBEBEB;
	color: #798696;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.tags-widget .tag:hover {
	background-color:rgb(96, 162, 206);
	border-color:#FF6700;
	color:#FFF;
}
