/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Lobster');

@import "bootstrap";
@import "./animate.scss";
@import "./waypoints.scss";
@import "./intro.scss";
@import "./welcome.scss";
@import "./courses.scss";
@import "./galleries.scss";
@import "./devise.scss";
@import "./teachers.scss";
@import "./workshops.scss";
@import "./about.scss";
@import "./topics.scss";
@import "./index_posts.scss";
@import "./admin.scss";
@import "./school_infos.scss";
@import "cookies_eu";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color:  white;
}

@media only screen and (min-width: 700px) {
  .navbar-first {
    min-height: 10px;
    padding-right: 0px;
    #socialContent {
      padding: 0 0;
      height: 20px;
    }
    .social-btn {
      font-size: 25px;
    }
    .login-control {
      position: relative;
      margin: 5px 5px;
      color: #f9cf00;
      border-radius: 5px;
      background-color: #4484ce;
      padding: 5px 10px;
      text-decoration: none;
      font-size: 15px;
      &:hover {
        background-color: #0b3f7a
      }
      span {
        margin: 5px;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .navbar-second {
    max-height: 65px;
  }  
}
@media only screen and (max-width: 767px) {
  .navbar-second {
    #school-logo {
      display: none;
    }
    .dropdown-toggle {
      font-size: 15px !important;
    }
    .navbar-collapse {
      max-height: 340px;
      overflow-y: auto;
    }
  }
}


.navbar-first {
  background-color: #f9cf00;
  .ua-lang {
    margin-right: 7px;
  }
  .en-lang {
    margin-right: 7px;
  }

}

.navbar-second {
  background-color:#4484ce;
  position: relative;
  z-index: 999;
  .navbar-toggler {
    color: white;
  }
  .nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 1.25vw;
    font-weight: bold;
    color: white;
    &:hover {
      background-color:#6492c7;
    }
  }
  .navbar-brand {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 1000;
  }
  .navbar-nav {
    .dropdown-menu {
      //position: static;
      float: none;
      width: auto;
      height: auto;
      margin-top: 0;
      background-color: white;
      border: 0;
      overflow: wrap;
      -webkit-box-shadow: none;
      box-shadow: none;
      li {
         a {
          line-height: 20px;
          padding: 18px 12px 18px 12px;
        }
      }
    }
  }
}


.navbar-second .navbar-nav > li > a {padding-top: 25px !important; padding-bottom: 25px !important;}



.navbar-second {
  margin-bottom: 0px !important;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 500;
  width: 100%;
}


.navbar-second { 
  -webkit-transition:padding 0.2s ease;
  -moz-transition:padding 0.2s ease; 
  -o-transition:padding 0.2s ease;        
  transition:padding 0.2s ease;  
}


.sticky {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  background-color: #0b3f7a;
  min-height: 80px !important;
  opacity: 1;
}

.sticky.is-sticky {
  background-color: rgb(101, 172, 219) !important;
  min-height: 0 !important;
  opacity: 1;
  transition: background-color 0.5s linear;
  transition: min-height 0.5s linear;
  .navbar-nav {
    li {
      a {padding-top: 30px !important; padding-bottom: 10px !important;}
    }
  }
}
footer {
  background-color: #f9cf00;
  position: fixed;
  bottom: 0;
}

.avatar-holder {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 999;
  .avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
  }
  span {
    color:whitesmoke;
  }
}

.gen-back-btn {
  a {
    text-decoration: none;
  }
  .gen-back {
      color: orange;
      text-transform: uppercase;
      background: #ffffff;
      padding: 12px 30px;
      border: 3px solid orange;
      border-radius: 6px;
  }:hover {
      border-color:rgb(92, 138, 207);
      color:rgb(92, 138, 207);
      border-radius: 20px;
      transition: all 0.3s ease 0s;
  }
}


///image file input
.form-image-input::-webkit-file-upload-button {
  visibility: hidden;
}
.form-image-input::before {
  content: 'select image';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.form-image-input:hover::before {
  border-color: black;
}
.form-image-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

///image-form
.image-form {
  border: 1px solid #6492c7;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px 15px;
  label {
    display: block;
  }
}

//general edit container
.general-edit-container {
  position: relative;
  min-height: 1000px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-bottom: 35px;
  .edit-form-img-thumb {
      margin: 10px;
      display: inline-block;
      border: .5px solid  #6492c7;
      border-radius: 10px;
      padding: 5px;
  }
  .save-form-btn {
      position: absolute;
      bottom: 13px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      background-color: white !important;
      color: green;
      &:hover {
        background-color:#6492c7 !important;
        color:white;
        border-color:#6492c7;
      }
  }
  .form-back-btn {
      position: absolute;
      left: 3%;
      bottom: 13px;
      border: 1px solid green;
      border-radius: 10px;
      padding: 5px 15px;
      background-color: white;
      z-index: 2;
  }
  .strikethrough {
      border: 2px solid  #6492c7;
      width: 100%;
      position: absolute;
      bottom: 30px;
      z-index: 1;
  }
}


@import 'cookies_eu';
