/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500');
@import "./animate.scss";
@import "./waypoints.scss";
@import "./intro.scss";
@import "./welcome.scss";
@import "./courses.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


@media only screen and (min-width: 576px) {
  .navbar-first {
    min-height: 10px;
    #socialContent {
      padding: 0 0;
      height: 20px;
    }
    .social-btn {
      font-size: 25px;
    }
    .login-control {
      margin: 3px 10px;
      color: #f9cf00;
      border-radius: 5px;
      background-color: #4484ce;
      padding: 2.5px 7.5px;
      text-decoration: none;
      font-size: 85%;
      &:hover {
        background-color: #0b3f7a
      }
    }
  }
  

}

@media only screen and (min-width: 768px) {
  .navbar-second {
    max-height: 65px;
  }  
}
@media only screen and (max-width: 768px) {
  .navbar-second {
    .navbar-brand {
      display: none;
    }
  }
}

.navbar-first {
  background-color: #f9cf00

}

.navbar-second {
  background-color:#4484ce;
  border-color: #E7E7E7;
  position: relative;
  .navbar-toggler {
    color: white;
  }
  .nav-link {
    color: white;
    &:hover {
      background-color:#6492c7;
    }
  }
  .navbar-brand {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 2;
  }
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}


.navbar-second { 
  -webkit-transition:padding 0.2s ease;
  -moz-transition:padding 0.2s ease; 
  -o-transition:padding 0.2s ease;        
  transition:padding 0.2s ease;  
}


.sticky.is-sticky {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  
  background-color: #0b3f7a;
}



