// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//teachers#index
#index-teachers-intro {
    width: 100%;
    height: 350px;
    position: relative;
    #index-teachers-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h3{
            color: white;
            font-size: 35px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: center;
            text-decoration: underline;
            text-underline-position: under;
        }
    }

    .teachers-bg-image {
        background-image: url("/assets/stock/new_course.jpg");
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-position:center;
        background-size: cover;
    }
    .bg-parallax {
        background-attachment:fixed;
    }
    .overlay:after {
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
        background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
        opacity: 0.5;
    }
}


.directors-message-profile {
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 10px;
    .strikethrough {
        width: 100%;
        border: 2px solid  rgb(95, 95, 231);
        position: absolute;
        top: 7%;
        left: 0%;
    }

    .directors-message-heading {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background-color: white;
        padding: 0px 15px;
        h3 {
            padding-top: 10px;
            color: black;
            font-family: Lobster;
        }
    }
    .directors-img {
        position: absolute;
        left: 50%;
        top: 175px;
        transform: translate(-50%, -50%);
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: 2px solid  rgb(95, 95, 231);
        .img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
        }
           
    }
    .directors-email {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

}


.teacher-index-center-row {
    .col {
        position: relative;
        margin-top: 50px;
        //margin-bottom: 50px;
        width: 100%;
        text-align: center;
        .strikethrough {
            width: 100%;
            border: 2px solid rgb(95, 95, 231);
            position: absolute;
            left: 0px;
            top: 20%;
        }
        .teacher-logo {
            background-color: white;
            position: relative;
            width: 100px;
            left: 50%;
            transform: translateX(-50%);
            i {
                font-size: 65px;
                padding-left: 10px;
                padding-bottom: 20px;
                color: rgb(95, 95, 231);
            }
        }
        h4 { 
            padding-bottom: 10px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: orange;
            font-style: italic;
        }
    }
}
.teacher-index-row {
    position: relative;
   // height: auto;
    margin-bottom: 25px;
    .teacher-card-column {
        //height: auto;
        position: relative;
        .teacher-card {
            position: relative;
            height: 400px;
            margin-bottom: 25px;
            border: 1px solid  rgb(95, 95, 231);
            border-radius: 10px;
            .teacher-index-img-holder {
                position: absolute;
                left: 50%;
                top: 5%;
                transform: translateX(-50%);
                height: 150px;
                width: 150px;
                border-radius: 50%;
                border: 1px solid  rgb(95, 95, 231);
                .teacher-index-img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
            .teacher-card-name {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 200px;
                font-family: Lobster;
            }
            .teacher-card-email {
                position: absolute;
                top: 250px;
                left: 50%;
                transform: translateX(-50%);
            }
            .teacher-card-description {
                position: absolute;
                padding: 10px 10px;
                bottom: 0%;
                height: 100px;
                text-align: center;

            }
        }
    }
}

.teacher-pag-index {
    position: relative;
    height: 50px;
  
    .teachers-paginate-links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        font-size: 20px;
    }
}

.teachers-index-back {
    position: relative;
    height: 100px;
    .strikethrough {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10px;
        border: 2px solid  rgb(95, 95, 231);
        width: 100%;
    }
    .row {
        position: relative;
        .gen-back-btn {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}



//teachers#show
.teacher-container {
    .row {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
.teacher-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 10px auto 0;
    border-radius: 50%;
    border: 1.5px solid rgba(95, 95, 231, 0.637);
    text-align: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

#teacher-class-row {
    border-top: 4px solid rgb(95, 95, 231);
    padding-top: 50px;
    position: relative;
    .teacher-courses-header {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        background: white;
        padding: 0 7.5px;
        font-family: Lobster;
        letter-spacing: 1.5px;
    }
}