// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {box-sizing:border-box}

@font-face {
  font-family: 'Academic';
  src: url('academic.ttf') format('truetype');
  
  }



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* caruousel image description */

.index-img-container  {
    position: relative;
    .img-desc {
      position: absolute;
      right: 100px;
      top: 80px;
      font-size: 3.5em;
      z-index: 1;
      color: white;
      background-color:lightblue;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 40px;
      .pic-main-title {
        z-index: 2;
      }
      .pic-main-desc {
        margin-top: -40px;
        z-index: 2;
      }
      .pic-main-end {
        margin-top: -50px;
        font-family: Snell Roundhand;
        z-index: 2;
        text-align: right;
        
      }
  }
  .title-image {
    filter: grayscale(25%);
    width: 100%;
    height: auto;
  }
}

.announcements {
  width: 100%;
  min-height: 300px;
}

#friend-column1 {
  height: 200px;
  background-color: orange;
  z-index: 1;
  text-align: center;
}

#friend-column2 {
  height: 200px;
  background-color: blue;
}

#friend-column3 {
  height: 200px;
  background-color: red;
}

.cal {
  color: white;
  z-index: 2;
  font-size: 6em;
}