// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {box-sizing:border-box}

@font-face {
  font-family: 'Academic';
  src: url('academic.ttf') format('truetype');
  
  }

.main-container {
  padding: 0%;
  position: relative;
}
#frontCarousel {
  li {
    background-color: #f9cf00;
  }
}

.carousel-item {
  position: relative;
  .carousel-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    .carousel-caption-1 {
      position: relative;
      padding: 10px 20px;
      .car-heading-top {
        font-family: Lobster;
        font-size: 25px;
        color: white;
        position: absolute;
        left: 20px;
      }
      .car-heading-middle {
        font-size: 125px;
        font-family: Georgia;
        color: #d6b81e;
        letter-spacing: 1px;
        font-weight: bold;
      }
      .car-heading-bottom {
        font-family: Lobster;
        font-size: 25px;
        color: white;
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
    }
  }
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(68, 56, 3, 0.527);
  z-index: 1;
}



#frontCarousel {
  margin: 0;
  width: 100%;
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 2s;
  transition-property: opacity;
 }
 
 .carousel-fade  .carousel-item.active,
 .carousel-fade  .carousel-item-next.carousel-item-left,
 .carousel-fade  .carousel-item-prev.carousel-item-right {
   opacity: 1;
 }
 
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-right {
  opacity: 0;
 }
 
 .carousel-fade  .carousel-item-next,
 .carousel-fade .carousel-item-prev,
 .carousel-fade .carousel-item.active,
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
 }
//announcements front page

.announcements-header {
  margin-top: 15px;
  .col{
    h3 {
      margin-bottom: 20px;
      color:  rgb(92, 138, 207);
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(92, 138, 207);
    }
  }
}

.announcements-row {
  margin: 20px 10% 10px 10%;
  .card {
    margin-bottom: 20px;
    .card-img-top {
      position: relative;
      display:block;
      a{
        position: relative;
        opacity: 0.7;
        z-index: 10;
      }
      .card-img {
        width: 100%;
        //overflow: hidden;
        width: 100%;
        height: 15vw;
        object-fit: cover;
      } 
    }
    .card-title { 
      a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
      }
    }
    .card-body {
      margin-top: -10px;
      padding-bottom: 0px;
    }
    .card-time {
      float:left;
      color: green;
    }
    .card-author {
      float: right;
      color: orange;
    }
  }
}

.card-img-top:after {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(55, 44, 207, 0.616);
  opacity: 0;
  transition: 0.4s opacity;
}
.card-img-top:hover:after {
  opacity: 0.9;
}

.welcome-news-pagination {
  width: 100%;
  height: 50px;
  position: relative;
  .welcome-paginate-links {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Georgia;
    font-weight: bold;
    padding: 0px 10px;
    z-index: 10;
  }
  .strikethrough {
    width: 100%;
    border: 2px solid rgb(92, 138, 207);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
}


.class_schedule {
  height: 200px;
  background-color: #007849;
  text-align: center;
  i {
    margin-top: 20px;
    color: white;
    font-size: 6em;
  }
  p {
    margin-top: 10px;
    font-family: "Arial Black";
    color: white;
  }
  &:hover {
    cursor: pointer;
    background-color: #00b871;
  }
}

#workshops {
  height: 200px;
  width: 100%;
  z-index: 1;
  background-color: #fece00;
  text-align: center;
  i {
    margin-top: 20px;
    color: white;
    font-size: 6em;
  }
  p {
    margin-top: 10px;
    font-family: "Arial Black";
    color: white;
  }
  &:hover {
    cursor: pointer;
    background-color: #fcdb47;
  }
}


#friends {
  height: 200px;
  background-color: #0375b4;
  text-align: center;
  i {
    margin-top: 20px;
    color: white;
    font-size: 6em;
  }
  p {
    margin-top: 10px;
    font-family: "Arial Black";
    color: white;
  }
  &:hover {
    cursor: pointer;
    background-color: #268bc2;
  }
}

.announcements-header {
  position: relative;
  .index-spacer {
    position: absolute;
    width: 100%;
    border: 2px solid rgb(92, 138, 207);
    top: 30%;
  }
  .news-index-header  {
    background: white;
  }
}

/* main div */
.cookies-eu  
  {
    height: 200px;
    background-color: rgb(92, 138, 207) !important;

  }
/* content holder */              
.cookies-eu-content-holder{
  color: white;
}  
/* button holder */
.cookies-eu-button-holder   {}
/* button */
.cookies-eu-ok {
  width: 100px;
  height: 50px;
  display: block;
  color: orange;
  text-transform: uppercase;
  background: #ffffff;
  padding: 12px 30px;
  border: 3px solid orange !important;
  border-radius: 6px;
  &:hover {
    border-color: rgb(92, 138, 207);
    color: rgb(92, 138, 207);
    border-radius: 20px;
    transition: all 0.3s ease 0s; 
  }
}
 /* link */          
.cookies-eu-link   {
  color: white;
  &:hover {
    color: yellow;
  }          
}
