// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//workshops#index

.workshops-index-picture {
    position: relative;
    margin-top: 20px;
    min-height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/stock/workshop_stock_photo.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    .workshops-title {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        color: white;
        text-align: center;
        i {
            font-size: 65px;
        }
        h3 {
            font-size: 65px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing: 4px;
        }
    }
}

.workshop-schedule-row {
    position: relative;
    width: 100%;
    .workshop-schedule-container {
        margin: 0 auto;
    }
}
.workshop-index-description-row {
    h5 {
        margin: 0 auto;
        border-bottom: 1px solid blue; 
        font-size: 35px;       
    }
    .description-column {
        margin-top: 25px;
    }
}
.workshop-card-row {
    margin-top: 25px;
    margin-bottom: 25px;
}