// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//workshops#index
#workshop-index-intro {
    width: 100%;
    height: 400px;
    position: relative;
    #workshop-index-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h3{
            color: white;
            font-size: 75px;
            font-family: cursive;
            font-weight: bold;
            letter-spacing: 5px;
        }
    }

    .bg-image {
        background-image: url("/assets/stock/workshop_stock_photo.jpg");
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-position:center;
        background-size:cover;
    }
    .bg-parallax {
        background-attachment:fixed;
    }
    .overlay:after {
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
        background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
        opacity: 0.7;
    }
}


.workshop-schedule-row {
    position: relative;
    width: 100%;
    .workshop-schedule-container {
        margin: 0 auto;
    }
}
.workshop-index-description-row {
    h5 {
        margin: 0 auto;
        border-bottom: 1px solid blue; 
        font-size: 35px;       
    }
    .description-column {
        margin-top: 25px;
    }
}
.workshop-card-row {
    margin-top: 25px;
    margin-bottom: 25px;
}


//workshops#edit

.workshop-edit-container {
    position: relative;
    min-height: 1000px;
    padding-bottom: 20px;
    .save-workshop-btn {
        position: absolute;
        bottom: 10px;
        left: 45%;
    }
    .edit-form-img-thumb {
        margin: 10px;
        display: inline-block;
        border: .5px solid blue;
        border-radius: 10px;
        padding: 5px;
    }
    .workshop-back-btn {
        border: 1px solid blue;
        border-radius: 10px;
        padding: 5px 15px;
        display: inline-block;
    }
}